project:
  name: churn_prediction
  random_seed: 42

data:
  raw_path: data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv
  target_col: Churn
  features:
    id_features:
      - customerID  
    numerical_features:
      - tenure
      - MonthlyCharges
      - TotalCharges
    categorical_features:
      - gender
      - SeniorCitizen
      - Partner
      - Dependents
      - PhoneService
      - MultipleLines
      - InternetService
      - OnlineSecurity
      - OnlineBackup
      - DeviceProtection
      - TechSupport
      - StreamingTV
      - StreamingMovies
      - Contract
      - PaperlessBilling
      - PaymentMethod 
training:
  test_size: 0.2
  val_size: 0.2

model:
  type: logistic_regression
  params:
    C: 1.0
    max_iter: 1000
